<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <% @flats.each do |flat| %>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://source.unsplash.com/286x180/?apartment" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.description %></p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Book</a>
        </div>
      </div>
    </div>
  <% end %>
</div>